html {
	background: url(waterfront-restaurants.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  
  .container {
	background-color: whitesmoke;
	margin: 0 auto;
	max-width: 700px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	padding: 1em;
  }
  
  h1 {
	text-align: center;
  }
  
  .centerform {
	text-align: center;
  }